<h1> The Arrow Movie Discription </h1>

<b>Title:</b> <%= @arrow.film_name %> <br>
<b>Type: </b><%= @arrow.film_type %> <br>
<b>Genre:</b> <%= @arrow.film_genre%> <br>
<b>Production Year:</b> <%=@arrow.production_year%> <br>
