<h1> The Flash Movie Discription </h1>

<b>Title:</b> <%= @the_flash.film_name %> <br>
<b>Type: </b><%= @the_flash.film_type %> <br>
<b>Genre:</b> <%= @the_flash.film_genre%> <br>
<b>Production Year:</b> <%=@the_flash.production_year%> <br>


  