<h1>New Movie</h1>

<%= form_tag "/movies", method: :post do %>
  <div>
    Film Name: <input type="text" name="film_name">
  </div>
  <div>
    Film Type: <input type="text" name="film_type">
  </div>
  <div>
    Film Genre: <input type="text" name="film_genre">
  </div>
   <div>
    Production Year: <input type="text" name="production_year">
  </div>
  <div>
    <input type="submit" name="New Movie">
  </div>
<% end %>