

<h1> The Movie Discription </h1>
<b>Title:</b> <%= @movies.film_name%> <br>
<b>Type: </b><%= @movies.film_type %> <br>
<b>Genre:</b> <%= @movies.film_genre%> <br>
<b>Production Year:</b><%= @movies.production_year%><br>

