<h1> The BOSS Movie Discription </h1>

<b>Title:</b> <%= @the_boss.film_name %> <br>
<b>Type: </b><%= @the_boss.film_type %> <br>
<b>Genre:</b> <%= @the_boss.film_genre%> <br>
<b>Production Year:</b> <%=@the_boss.production_year%> <br>
